/*.highlight  { background: #ffffff; padding: 0px; color: #24292f; background-color: #e8edf1; border: 1px solid #cccccc;border-left: none; border-right: none;}*/
/*.highlight { padding-top: 0px; padding-bottom: 0px; padding-left: 0; padding-right: 0; }*/

/*.highlight { margin-left: 20px; margin-right: 20px; margin-top: 5px;margin-bottom: 5px;}*/
/*.highlight table td { padding: 5px; }*/
/*.highlight table pre { margin: 0; }*/

.highlight {
  white-space: pre-wrap;
  font-size: 14px;
  background-color: #f3ffff;
  z-index: 1; /* Added z-index */
  position: relative; /* Ensure z-index works */
}

.highlight pre {
  margin: 0;
  padding: 10px;
  
  border-radius: 10px;
  border: 1px solid #73AD21;
}

.highlight .gl {
  color: #f3ffff;
  background-color: #000707;
}


