/* Style for the header */
header {
    background-color: #003C71;
    padding: 12px 0;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif; /* Applying Roboto font */
    font-weight: bold;
    position: fixed;
    top: 0;
    z-index: 10; /* Added z-index */
    width: 100%;
    left: 0;
}
/*style of body and also avoid double scroll bar for x and y directions*/
html, body { height: 100%; 
  max-width: 100%;
  overflow-x: initial !important;
}


/*Justifies screen size*/
p {
  text-align: justify;
}


/* Style for media screen */

/*testing screen size css rules*/
@media screen and (max-width: 600px) {

  .wrap { padding: 0 12px; }

   h1 { font-size: 20px; }
   h2 { font-size: 18px; }
   h3 { font-size: 18px; }
   h4 { font-size: 18px; }
   blockquote { padding-left: 10px; }
   .highlight {
    white-space: pre-wrap;
    font-size: 14px;
    
    z-index: 1; /* Added z-index */
    position: relative; /* Ensure z-index works */
  }

  pre {
    white-space: pre-wrap; /* Enable word wrapping */
    word-wrap: break-word; /* Ensure long words break to the next line */
  }

}

/* Font sizes for laptop screens */
@media screen and (min-width: 601px) {
  h1 { font-size: 32px; }
  h2 { font-size: 28px; }
  h3 { font-size: 24px; }
  h4 { font-size: 20px; }
  p { font-size: 16px; } /* Body text font size */
}


body {
  /* font-family: Helvetica, Arial, sans-serif; */
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  background-color: #fdfdfd;
}

/* Style for the navigation links */
nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

/* max screen size of the webpage*/
/* CSS styles for the container */
.container {
    max-width: 1080px; /* Set maximum width */
    margin: 0 auto; /* Center align the container */
    padding: 0 20px;
  
}

/* Optional: Add media queries for responsive design */
@media screen and (max-width: 768px) {
    .container {
        padding: 0 10px; /* Adjust padding for smaller screens */
    }
}

