/* CSS styles for the container */




/* Style for the header */
header {
    background-color: #003C71;
    padding: 12px 0;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif; /* Applying Roboto font */
    font-weight: bold;
    position: fixed;
    top: 0;
    z-index: 10; /* Added z-index */
    width: 100%;
    left: 0;
}

html, body { height: 100%; 
  max-width: 100%;
  overflow-x: hidden;
}

p {
  text-align: justify;
}
/* Utility */

.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
  max-width: 800px;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;
  margin: 0 auto; /* Center align the container */
  padding: 0 20px;
  overflow: scroll; /* Add padding for better readability */
  overflow-y: auto;
}


/*testing screen size css rules*/
@media screen and (max-width: 600px) {

  .wrap { padding: 0 12px; }

   h1 { font-size: 20px; }
   h2 { font-size: 18px; }
   h3 { font-size: 18px; }
   h4 { font-size: 18px; }
   blockquote { padding-left: 10px; }


}




body {
  /* font-family: Helvetica, Arial, sans-serif; */
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  background-color: #fdfdfd;
}

/* Style for the navigation links */
nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}


/* Post styles */
/* ----------------------------------------------------------*/

.post-header { margin: 10px 0 30px; }

.post-header h1 {
  font-size: 30px;
  letter-spacing: -1.75px;
  line-height: 1;
  font-weight: 300;
}

.post-header .meta {
  font-size: 15px;
  color: #818181;
  margin-top: 5px;
}

.post-content { margin: 0 0 30px; }

.post-content > * { margin: 20px 0; }


.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  line-height: 1;
  font-weight: 300;
  margin: 40px 0 20px;
}

.post-content h2 {
  font-size: 32px;
  letter-spacing: -1.25px;
}

.post-content h3 {
  font-size: 26px;
  letter-spacing: -1px;
}

.post-content h4 {
  font-size: 20px;
  letter-spacing: -1px;
}

.post-content blockquote {
  border-left: 4px solid #e8e8e8;
  padding-left: 20px;
  font-size: 18px;
  opacity: .6;
  letter-spacing: -1px;
  font-style: italic;
  margin: 30px 0;
}

.post-content ul,
.post-content ol { padding-left: 20px; }

.post pre,
.post code {
  border: 1px solid #d5d5e9;
  background-color: #eef;
  padding: 8px 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 15px;
  overflow:scroll;
}

.post code { padding: 1px 5px; }

.post ul,
.post ol { margin-left: 1.35em; }

.post pre code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.post pre.terminal code { background-color: #333; }

/*.highlight  { background: #ffffff; padding: 0px; color: #24292f; background-color: #e8edf1; border: 1px solid #cccccc;border-left: none; border-right: none;}*/
/*.highlight { padding-top: 0px; padding-bottom: 0px; padding-left: 0; padding-right: 0; }*/

/*.highlight { margin-left: 20px; margin-right: 20px; margin-top: 5px;margin-bottom: 5px;}*/
/*.highlight table td { padding: 5px; }*/
/*.highlight table pre { margin: 0; }*/

.highlight {
    white-space: pre-wrap;
    font-size: 14px;
    background-color: #f3ffff;
    z-index: 1; /* Added z-index */
    position: relative; /* Ensure z-index works */
  }
  
  .highlight pre {
    margin: 0;
    padding: 10px;
    border-radius: 16px;
    border: 1px solid #f8f8f8;
    box-shadow: 0 0 10px rgba(3, 102, 214, 0.5); /* Blue outer shadow */
  }
  
  .highlight .gl {
    color: #f3ffff;
    background-color: #000707;
  }
  
  highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cpf, .highlight .c1, .highlight .cs {
    color: #006c6c;
    font-style: italic;
  }
  .highlight .cp {
    color: #920241;
    font-weight: bold;
  }
  .highlight .err {
    color: #f3ffff;
    background-color: #f22700;
  }
  .highlight .gr {
    color: #f22700;
    font-weight: bold;
    font-style: italic;
  }
  .highlight .k, .highlight .kd, .highlight .kv {
    color: #19003a;
    font-weight: bold;
  }
  .highlight .o, .highlight .ow {
    color: #4c48fe;
    font-weight: bold;
  }
  .highlight .p, .highlight .pi {
    color: #4c48fe;
  }
  .highlight .gd {
    color: #f22700;
  }
  .highlight .gi {
    color: #007500;
  }
  .highlight .ge {
    font-style: italic;
  }
  .highlight .gs {
    font-weight: bold;
  }
  .highlight .gt {
    color: #000000;
    background-color: #d8d9ff;
  }
  .highlight .kc {
    color: #007500;
    font-weight: bold;
  }
  .highlight .kn {
    color: #007500;
    font-weight: bold;
  }
  .highlight .kp {
    color: #007500;
    font-weight: bold;
  }
  .highlight .kr {
    color: #007500;
    font-weight: bold;
  }
  .highlight .gh {
    color: #007500;
    font-weight: bold;
  }
  .highlight .gu {
    color: #007500;
    font-weight: bold;
  }
  .highlight .kt {
    color: #920241;
    font-weight: bold;
  }
  .highlight .no {
    color: #920241;
    font-weight: bold;
  }
  .highlight .nc {
    color: #920241;
    font-weight: bold;
  }
  .highlight .nd {
    color: #920241;
    font-weight: bold;
  }
  .highlight .nn {
    color: #920241;
    font-weight: bold;
  }
  .highlight .bp {
    color: #920241;
    font-weight: bold;
  }
  .highlight .ne {
    color: #920241;
    font-weight: bold;
  }
  .highlight .nl {
    color: #840084;
    font-weight: bold;
  }
  .highlight .nt {
    color: #840084;
    font-weight: bold;
  }
  .highlight .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mx {
    color: #007500;
    font-weight: bold;
  }
  .highlight .ld {
    color: #007500;
    font-weight: bold;
  }
  .highlight .ss {
    color: #007500;
  }
  .highlight .s, .highlight .sb, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .sr, .highlight .s1 {
    color: #7c0000;
    font-weight: bold;
  }
  .highlight .sa {
    color: #19003a;
    font-weight: bold;
  }
  .highlight .se {
    color: #840084;
    font-weight: bold;
  }
  .highlight .sc {
    color: #840084;
    font-weight: bold;
  }
  .highlight .si {
    color: #840084;
    font-weight: bold;
  }
  .highlight .nb {
    font-weight: bold;
  }
  .highlight .ni {
    color: #999999;
    font-weight: bold;
  }
  .highlight .w {
    color: #BBBBBB;
  }
  .highlight .go {
    color: #19003a;
  }
  .highlight .nf, .highlight .fm {
    color: #ff0089;
  }
  .highlight .py {
    color: #ff0089;
  }
  .highlight .na {
    color: #ff0089;
  }
  .highlight .nv, .highlight .vc, .highlight .vg, .highlight .vi, .highlight .vm {
    color: #ff0089;
    font-weight: bold;
  }

  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 2px 0;
    position: fixed;
    z-index: 1;
    bottom: 0;
    width: 100%;
    left: 0;
}
footer a {
    color: white;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}
footer a i {
    margin-right: 5px;
}
  