<!DOCTYPE html>
<html>
   <head>
    <title>{{ page.title }}</title>
   
    <link rel="stylesheet" href="{{ 'assets/page.css' | relative_url }}" > <!-- css for page layout -->
    
   </head>
    <body>

      <script src="https://unpkg.com/vanilla-back-to-top@7.2.1/dist/vanilla-back-to-top.min.js"></script>
      <script>addBackToTop({
        diameter: 56,
        backgroundColor: '#333',
        textColor: '#fff',
        scrollDuration: 500,
        zIndex: 999
      })</script>

    <header>
        <nav>
            <a href="/">Home</a>
            {% assign pages_list = (site.navigation | sort: 'order') %}        
                {% for nav_item in pages_list %}
                    <a href="{{ nav_item.url }}">{{ nav_item.title }}</a>
                {% endfor %}
            
        </nav>
    
    </header>
   

    <div class="post-content">
      <div class="wrap">
      {{ content }}
      </div>
    </div>

    

    <!-- mathjax -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_HTML">
        MathJax.Hub.Config({
          "HTML-CSS": {
            availableFonts: ["TeX"],
          },
          tex2jax: {
            inlineMath: [['$','$'],["\\(","\\)"],['\[','\]']],},
            displayMath: [ ['$$','$$'], ['\\[','\\]'], ['\[','\]']],
          TeX: {
            extensions: ["AMSmath.js", "AMSsymbols.js", "color.js"],
            equationNumbers: {
              autoNumber: "AMS"
            }
          },
          showProcessingMessages: false,
          messageStyle: "none",
          imageFont: null,
          "AssistiveMML": { disabled: true }
        });
      </script>
  
        
    <footer>
        <a href="https://github.com/ecen740tamu/" target="_blank">
            <i class="fab fa-github"></i>
            ECEN 740 GitHub
        </a>
    </footer>
 
    </body>
</html>